.container {
  padding: 0 2rem;
}

.main {
  min-height: 50vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  color: #efbad3;
}

.title {
  color: #a163f5;
}

.title a {
  color: #a163f5;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.cardsTitle {
  color: #efbad3;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.cardsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  width: 600px;
  list-style: none;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 700px;
  list-style: none;
  background-color: #efbad3;
  position: relative;
  color: white;
}

.card:hover,
.card:focus,
.card:active {
  color: #a163f5;
  border-color: #a163f5;
}

.formContainerLabel {
  color: #a163f5;
}
.formContainerText {
  color: #efbad3;
}

.formContainerInput {
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.formContainerButton {
  background-color: #a163f5;
  color: white;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin: 10px;
}

.buttonCard {
  background-color: white;
  color: #a163f5;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 40px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 10px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
